@use "./../../styles" as styles;

.Avatar {
  @include styles.styles-reset;
  @include styles.text-wrapping;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 50%;
  color: #fff;
  background-color: #ccc;
  overflow: hidden;
}

.small {
  width: 2.5rem;
  height: 2.5rem;
}

.medium {
  width: 3.75rem;
  height: 3.75rem;
}

.large {
  width: 5rem;
  height: 5rem;
}
