@use "./../../styles" as styles;

:root {
  --inputtext-text-color: #000;
  --inputtext-background-color: #{styles.$pink-500};
}

:global :root .dark {
  --inputtext-text-color: #000;
  --inputtext-background-color: #{styles.$indigo-500};
}

.InputText {
  @include styles.styles-reset;
  @include styles.text-wrapping;

  font-size: 1rem;
  padding: 0.25rem;

  color: var(--inputtext-text-color);
}
