@use "./../../styles" as styles;

:root {
  --dropdownitem-background-color: #{styles.$emerald-600};
  --dropdownitem-background-color-hover: #{styles.$emerald-300};
  --dropdownitem-disabled-background-color: #{styles.$gray-500};
}

:global :root .dark {
  --dropdownitem-background-color: #{styles.$indigo-600};
  --dropdownitem-background-color-hover: #{styles.$indigo-300};
  --dropdownitem-disabled-background-color: #{styles.$gray-500};
}

.ButtonDropdown {
  @include styles.styles-reset;
  position: relative;
  display: inline-block;
}

.ToggleButton {
}

.ToggleIcon {
  margin-left: 0.5rem;
  font-size: 0.75rem;
}

.DropdownMenu {
  @include styles.styles-reset;
  position: absolute;

  top: 100%;
  left: 80%;
  transform: translateY(4px);
  z-index: 10;
  min-width: 8rem;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  text-align: left;
  list-style: none;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.DropdownItem {
  display: block;
}

.DropdownButton {
  @include styles.button-reset;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: #212529;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out;
  border-radius: 0.25rem;
  &:hover {
    background-color: var(--dropdownitem-background-color);
  }
}
