@use "./../../styles" as styles;

:root {
  --imagelist-background-color: #{styles.$pink-500};
}

:global :root .dark {
  --imagelist-background-color: #{styles.$indigo-500};
}

.ImageList {
  display: grid;
  grid-auto-rows: minmax(1rem, auto);
}

.Image {
  max-width: 100%;
  height: auto;
  line-height: 0;
  img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    height: auto;
  }
}
