# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# react library
./packages/ui/dist
./packages/ui/dist/*

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo
packages/ui/dist/cjs/components/Button/Button.d.ts
packages/ui/dist/cjs/components/Button/Button.d.ts.map
packages/ui/dist/cjs/components/Button/Button.test.d.ts
packages/ui/dist/cjs/components/Button/Button.test.d.ts.map
packages/ui/dist/cjs/components/Paragraph/Paragraph.d.ts
packages/ui/dist/cjs/components/Paragraph/Paragraph.d.ts.map
packages/ui/dist/cjs/components/Switch/Switch.d.ts
packages/ui/dist/cjs/components/Switch/Switch.d.ts.map
packages/ui/dist/cjs/index.d.ts
packages/ui/dist/cjs/index.d.ts.map
packages/ui/dist/cjs/index.js
packages/ui/dist/cjs/index.js.map
packages/ui/dist/esm/components/Button/Button.d.ts
packages/ui/dist/esm/components/Button/Button.d.ts.map
packages/ui/dist/esm/components/Button/Button.test.d.ts
packages/ui/dist/esm/components/Button/Button.test.d.ts.map
packages/ui/dist/esm/components/Paragraph/Paragraph.d.ts
packages/ui/dist/esm/components/Paragraph/Paragraph.d.ts.map
packages/ui/dist/esm/components/Switch/Switch.d.ts
packages/ui/dist/esm/components/Switch/Switch.d.ts.map
packages/ui/dist/esm/index.d.ts
packages/ui/dist/esm/index.d.ts.map
packages/ui/dist/esm/index.js
packages/ui/dist/esm/index.js.map
packages/ui/dist/index.d.ts
