@use "./../../styles" as styles;

:root {
  --inputcheckbox-background-color: #{styles.$pink-500};
}

:global :root .dark {
  --inputcheckbox-background-color: #{styles.$indigo-500};
}

.InputCheckbox {
  @include styles.styles-reset;

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.InputCheckboxLabel {
  font-size: 1rem;
  color: #222;
  user-select: none;
  cursor: pointer;
}
