// @use "./../../styles/colors.scss";
@use "./../../styles" as styles;

:root {
}

:global :root .dark {
}

.InputSearch {
  all: revert;
  box-sizing: border-box;

  background: red;

  @include styles.respond-to("md") {
    background-color: cyan;
  }
  @include styles.respond-to("lg") {
    background-color: green;
  }
  @include styles.feature-to("hover") {
    &:hover {
      background-color: pink;
    }
  }
}
