@use "./../../styles" as styles;

.Card {
  @include styles.styles-reset;
  @include styles.text-wrapping;

  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }
}
