@use "./../../styles" as styles;

:root {
  --inputselect-focus-color: #{styles.$pink-500};
  --inputselect-focus-boxshadow: #{styles.$pink-500};
  --inputselect-disabled-color: #{styles.$pink-500};
  --inputselect-error-color: #{styles.$pink-500};
  --inputselect-error-color: #{styles.$pink-500};
}

:global :root .dark {
}

.InputSelect {
  @include styles.styles-reset;
  padding: 0.5rem;
  font-size: 1rem;

  &:focus {
    outline: none;
    border-color: var(--inputselect-focus-color);
    box-shadow: var(--inputselect-focus-boxshadow);
  }

  &:disabled {
    color: var(--inputselect-disabled-color);
    cursor: not-allowed;
  }

  &.InputSelectError {
    border-color: var(--inputselect-error-color);
  }
}
