@use "./../../styles" as styles;

:root {
  --table-background-color: #{styles.$pink-500};
}

:global :root .dark {
  --table-background-color: #{styles.$indigo-500};
}

.TableContainer {
  @include styles.styles-reset;
  @include styles.text-wrapping;

  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.TableWrap {
  overflow-x: auto;
  margin: 1rem;
  border-radius: 0.5rem;
  border-width: 1px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.Table {
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: left;
  width: 100%;
  table-layout: auto;
}

.TableHead {
  background-color: #f9fafb;
  color: #4b5563;
  font-weight: 500;
  border-bottom-width: 1px;

  th {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.TableBody {
  color: #4b5563;
  border-top-width: 1px;

  td {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    white-space: nowrap;
  }
}
