@use "./../../styles" as styles;

:root {
  --breadcrumb-background-color: #{styles.$pink-500};
}

:global :root .dark {
  --breadcrumb-background-color: #{styles.$indigo-500};
}

.Breadcrumb {
  @include styles.styles-reset;
  @include styles.text-wrapping;

  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.BreadcrumbElement {
  display: flex;
  align-items: center;
  color: #444;
}

.BreadcrumbElement a {
  color: blue;
  text-decoration: none;
}

.BreadcrumbElement {
  &:before {
    margin: 0 0.5rem;
    color: #999;
    content: "/";
  }
  &:nth-child(1):before {
    content: "";
    margin: 0;
  }
}
