@use "./../../styles" as styles;

.Container {
  @include styles.styles-reset;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;

  outline: solid 1px red;

  &.sm {
    max-width: 576px;
  }

  &.md {
    max-width: 768px;
  }

  &.lg {
    max-width: 992px;
  }

  &.xl {
    max-width: 1200px;
  }

  &.Fluid {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
}
