body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ThemeSwitcher {
  background-color: #000;

  overflow: auto;
  padding: 1rem;

  margin-bottom: 2rem;
}


.ThemeSwitcher__Title {
  color: #fff;
}

.ThemeSwitcher__Title {
    display: flex;
  align-items: center;
  justify-content: center;
}


.ThemeSwitcher__Content {
  background-color: #000;


color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.ThemeSwitcher span {
  padding-right: 1ch;
}

.ThemeSwitcher button {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-width: 4.5rem;
}