@use "./../../styles" as styles;
@use "~@chepe/tokens/tokens/tokens.scss" as tokens;

:root {
  --button-background-color: #{tokens.$button-primary-background};
  --button-background-color-hover: #{styles.$gray-800};
  --button-disabled-background-color: #{styles.$gray-300};
}

:global :root .dark {
  --button-background-color: #{styles.$pink-500};
  --button-background-color-hover: #{styles.$pink-800};
  --button-disabled-background-color: #{styles.$gray-500};
}

.Button {
  @include styles.styles-reset;
  @include styles.text-wrapping;
  all: revert;

  -webkit-appearance: none;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;

  width: 100%;
  min-width: 5rem;
  min-height: 2.5rem;
  margin: 0;
  padding: 0 1rem;

  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  transition: color 100ms;
  text-align: center;
  vertical-align: baseline;
  text-decoration: none;

  text-align: center;
  white-space: nowrap;

  color: inherit;
  color: #000;
  border: none;
  border-radius: 0.5rem;
  background: var(--button-background-color);
  box-shadow: none;

  transition: background ease-in-out 0.3s;

  @include styles.respond-to("md") {
    width: auto;
  }

  /* Hover only If device has hover capabilities */
  @include styles.feature-to("hover") {
    &:hover:not(:disabled) {
      background-color: var(--button-background-color-hover);
    }
  }

  /* Focus */
  &:focus-visible {
    text-decoration: underline;
  }

  /* Disabled */
  &:disabled,
  &[disabled] {
    background-color: var(--button-disabled-background-color);
    color: #666666;
    pointer-events: none;
  }
}
