@use "./../../styles" as styles;

.ButtonGroup {
  @include styles.styles-reset;

  display: inline-flex;
  flex-wrap: wrap;
  vertical-align: middle;
  gap: 0.5rem;

  > * {
    position: relative;
    flex: 1 1 auto;
    margin-left: -1px;
  }
}
