body {
  height: 100%;
  width: 100%;
  color: #333;
  background-color: #eee;
}

body.dark {
  color: #eee;
  background-color: #333;
}

.ThemeSwitcher {
  background-color: #000;
  color: #eee;
  overflow: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.ThemeSwitcher span {
  padding-right: 1ch;
}

.ThemeSwitcher button {
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  min-width: 4.5rem;
}