@use "./../../styles" as styles;

:root {
  --loading-background-color: #{styles.$indigo-500};
}

:global :root .dark {
  --loading-background-color: #{styles.$indigo-500};
}

.Loading {
  @include styles.styles-reset;
  @include styles.text-wrapping;
}

.Spinner {
  margin-right: 0.5rem;
  animation: spin 1s linear infinite;

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  color: #e5e7eb;
  width: 2rem;
  height: 2rem;

  fill: var(--loading-background-color);
}

.Hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border-width: 0;
}
