$base-size: 1rem;

// Font families
$font-family-base: sans-serif;
$font-family-monospace: monospace;

// Font weights
$font-weight-heavy: 900;
$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-lighter: 300;
