@use "./../../styles" as styles;

.Header {
  @include styles.styles-reset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
  height: 64px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.Logo {
  @include styles.styles-reset;
}

.NavLinks {
  @include styles.styles-reset;
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 1.5rem;
  }
}
