@use "./../../styles" as styles;

:root {
  --progress-default-background-color: #{styles.$gray-200};

  --progress-bar-background-color: #{styles.$indigo-500};
}

:global :root .dark {
}

.Progress {
  @include styles.styles-reset;
  @include styles.display-flex;
  @include styles.align-items-center;

  height: 1rem;
  background-color: var(--progress-default-background-color);
  border-radius: 0.25rem;
  overflow: hidden;
}

.Bar {
  height: 100%;
  background-color: var(--progress-bar-background-color);
  transition: width 0.3s ease-in-out;
}
