@use "./../../styles" as styles;

:root {
  --stepper-background-color: #{styles.$pink-500};
}

:global :root .dark {
  --stepper-background-color: #{styles.$indigo-500};
}

.Stepper {
  @include styles.styles-reset;
  @include styles.text-wrapping;

  display: flex;
  justify-content: space-between;
}

.Step {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.Completed .Circle {
  background-color: green;
  color: white;
}

.Current .Circle {
  background-color: blue;
  color: white;
}

.Circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;

  background-color: #ddd;
}

.Label {
  text-align: center;
  font-size: 0.8rem;
}

.Tooltip {
  position: absolute;
  top: 2.5rem;
  background-color: white;
  border: 1px solid black;
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.8rem;
}
