@use "./../../styles" as styles;

.Divider {
  @include styles.styles-reset;
  @include styles.text-wrapping;

  width: 100%;
  height: 1px;
  margin: 0 8px;
  background-color: #ccc;
  border: none;
}
