@use "./../../styles" as styles;

.pagination {
  @include styles.styles-reset;
}

.paginationList {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: stretch;
}

.pageItem {
  @include styles.button-reset;

  display: inline-block;
  margin: 0 0.25rem;
}

.pageButton {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;

  &:hover:not(:disabled) {
    background-color: #f1f1f1;
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
    color: #bbb;
    border-color: #bbb;
  }
}

.current .pageButton {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;

  &:hover:not(:disabled) {
    background-color: #0069d9;
    border-color: #0062cc;
    color: #fff;
  }
}

.ellipsis {
  display: flex;
  align-items: center;
  justify-content: center;
}

.disabled {
  cursor: default;
  color: #bbb;
  border-color: #bbb;

  &:hover:not(:disabled) {
    background-color: #fff;
    cursor: default;
  }
}
