@use "./variables.scss";

/**
 * Media Queries for Sized
 *
 * @include respond-to('md') {}
 * @include respond-to('lg') {}
 *
 */
@mixin respond-to($condition) {
  @if $condition == "in" {
    @media only screen and (min-width: variables.$breakpoint-in) {
      @content;
    }
  }

  @if $condition == "xs" {
    @media only screen and (min-width: variables.$breakpoint-xs) {
      @content;
    }
  }

  @if $condition == "sm" {
    @media only screen and (min-width: variables.$breakpoint-sm) {
      @content;
    }
  }

  @if $condition == "md" {
    @media only screen and (min-width: variables.$breakpoint-md) {
      @content;
    }
  }

  @if $condition == "lg" {
    @media only screen and (min-width: variables.$breakpoint-lg) {
      @content;
    }
  }

  @if $condition == "xl" {
    @media only screen and (min-width: variables.$breakpoint-xl) {
      @content;
    }
  }

  @if $condition == "2xl" {
    @media only screen and (min-width: variables.$breakpoint-2xl) {
      @content;
    }
  }
}

/**
 * Media Queries for Features
 *
 * @include feature-to('hover') {}
 *
 */
@mixin feature-to($condition) {
  // Does the primary input mechanism allow the user to hover over elements?
  @if $condition == "hover" {
    @media only screen and (hover: hover) {
      @content;
    }
  }

  // landscape-oriented
  @if $condition == "landscape" {
    @media only screen and (orientation: landscape) {
      @content;
    }
  }

  // portrait-oriented
  @if $condition == "portrait" {
    @media only screen and (orientation: portrait) {
      @content;
    }
  }

  // Print preview mode.
  @if $condition == "print" {
    @media print {
      @content;
    }
  }
}

/**
 * Input Placeholder
 *
 * @include input-placeholder() {}
 *
 */
@mixin input-placeholder() {
  &::input-placeholder {
    @content;
  }

  &::placeholder {
    @content;
  }

  &:input-placeholder {
    @content;
  }

  &:placeholder {
    @content;
  }
}

/**
 * Button reset
 *
 * @include button-reset;
 *
 */
@mixin button-reset {
  font: inherit;
  padding: 0;
  cursor: pointer;
  color: inherit;
  border: none;
  background-color: transparent;
}
