@use "./../../styles" as styles;

.Wrapper {
  @include styles.styles-reset;
  @include styles.text-wrapping;
  width: 100%;

  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;

  @include styles.respond-to("md") {
    padding: 0 2rem;
  }
}
