@use "sass:math";
@use "./../../styles" as styles;

$grid-columns: 12;

.Grid {
  @include styles.styles-reset;
  display: flex;
  width: 100%;
}

.Grid--gap-sm {
  gap: 1rem;
}
.Grid--gap-md {
  gap: 1.5rem;
}
.Grid--gap-lg {
  gap: 2rem;
}
.Grid--gap-none {
  gap: 0;
}

.Container {
}

.Item {
}

/* Columns */
@for $i from 1 to $grid-columns + 1 {
  .Columns--#{$i} {
    flex-basis: math.div($i, 12) * 100%;
  }
}
