@use "./../../styles" as styles;

:root {
  --badge-background-color: #{styles.$pink-500};
}

:global :root .dark {
  --badge-background-color: #{styles.$indigo-500};
}

.Badge {
  @include styles.styles-reset;
  @include styles.text-wrapping;
  @include styles.button-reset;

  display: inline-block;
  padding: 0.25rem 0.4rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  user-select: none;
  cursor: pointer;
}
