@forward "./mixins";
@forward "./styles-reset";

/* Hide something visually from screen but remains
   available for screen readers, search engines and other tools */
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}