@use "./../../styles" as styles;

.Collapse {
  @include styles.styles-reset;

  border: 1px solid #ccc;
  border-radius: 0.5rem;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.ToggleButton {
  @include styles.button-reset;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #f7f7f7;
  border: none;
  width: 100%;
  cursor: pointer;

  span {
    font-size: 1.5rem;
    transition: transform 0.2s ease-in-out;
    transform: rotate(0deg);
    margin-left: 0.5rem;
  }
}

.ToggleButton.isOpen {
  span {
    transform: rotate(45deg);
  }
}

.Content {
  @include styles.styles-reset;

  padding: 1rem;
  border-top: 1px solid #ccc;

  display: none;
}

.Content.isOpen {
  display: block;
}
