@use "./../../styles" as styles;

:root {
  --heading-background-color: #{styles.$pink-500};
}

:global :root .dark {
  --heading-background-color: #{styles.$indigo-500};
}

.Heading {
  @include styles.styles-reset;
  @include styles.text-wrapping;
}

h1,
.h1 {
  font-size: 3rem;
}

h2,
.h2 {
  font-size: 2.25rem;
}

h3,
.h3 {
  font-size: 1.875rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}
