@use "./../../styles" as styles;

.Chip {
  @include styles.button-reset;

  display: inline-flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  font-size: 1rem;

  letter-spacing: 0.05rem;

  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  border: 1px solid transparent;

  &.primary {
    background-color: #0074d9;
    color: #fff;
  }

  &.secondary {
    background-color: #f0f0f0;
    color: #333;
  }

  &.tertiary {
    background-color: #fff;
    color: #333;
    border-color: #f0f0f0;
  }

  &:hover {
    @include styles.box-shadow(0 2px 6px rgba(0, 0, 0, 0.1));
  }
}
