.container {
  margin: 2rem 0;
}

.code {
  margin: 2rem 0;
}

.component {
  margin: 2rem 0;
  padding: 2rem;
  min-height: 320px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 16px;
  background-color: #ccc;

  --gradient-from-0: #ccc;
  --gradient-to-0: #ccc;

  background: var(--gradient-from-0);
  background: linear-gradient(
    to right,
    var(--gradient-from-0),
    var(--gradient-to-0)
  );
}

.component--0 {
  --gradient-from-0: #ffd200;
  --gradient-to-0: #f7971e;
}

:global(.dark) .component--0 {
  --gradient-from-0: #333333;
  --gradient-to-0: #494949;
}

.component--1 {
  --gradient-from-0: #b06ab3;
  --gradient-to-0: #4568dc;
}

:global(.dark) .component--1 {
  --gradient-from-0: #333333;
  --gradient-to-0: #494949;
}
.component--2 {
  --gradient-from-0: #f8ffae;
  --gradient-to-0: #43c6ac;
}

:global(.dark) .component--2 {
  --gradient-from-0: #333333;
  --gradient-to-0: #494949;
}
.component--3 {
  --gradient-from-0: #ececec;
  --gradient-to-0: #ececec;
  border: solid 1px #ddd;
}

:global(.dark) .component--3 {
  --gradient-from-0: #333;
  --gradient-to-0: #111;
  border: solid 1px #333;
}
.component--4 {
  --gradient-from-0: #636fa4;
  --gradient-to-0: #e8cbc0;
}

:global(.dark) .component--4 {
  --gradient-from-0: #333;
  --gradient-to-0: #111;
  border: solid 1px #333;
}
.component--5 {
  --gradient-from-0: #45b649;
  --gradient-to-0: #dce35b;
}

:global(.dark) .component--5 {
  --gradient-from-0: #333333;
  --gradient-to-0: #494949;
}
