@use "./../../styles" as styles;

:root {
  --codeblock-background-color: #{styles.$pink-500};
}

:global :root .dark {
  --codeblock-background-color: #{styles.$indigo-500};
}

.CodeBlock {
  @include styles.styles-reset;
  @include styles.text-wrapping;

  position: relative;
}

.Language {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  text-align: right;
  color: #fff;
  background: #5d5f7b;
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
  font-size: 0.65rem;
  user-select: none;
}
