@use "./../../styles" as styles;
@use "~@chepe/tokens/tokens/tokens.scss" as tokens;

:root {
  --input-background-color: #fff;
  --input-color: #000;
}

:global .dark {
  --input-background-color: #fff;
  --input-color: #000;
}

.InputText {
  @include styles.styles-reset;
  @include styles.text-wrapping;

  font-size: 1rem;
  padding: 0.25rem;
  border: solid 1px transparent;
  background-color: var(--input-background-color);

  &.error {
    background-color: tokens.$base-red-200;
    border-color: tokens.$base-red-500;
    color: tokens.$base-red-800;
  }
}

.error {
  background-color: tokens.$base-red-200;
  border-color: tokens.$base-red-500;
  color: tokens.$base-red-800;
}
