@use "./../../styles" as styles;

:root {
  --label-background-color: #{styles.$pink-500};
}

:global :root .dark {
  --label-background-color: #{styles.$indigo-500};
}

.Label {
  @include styles.styles-reset;
  @include styles.text-wrapping;

  font-size: 1rem;
  margin-bottom: 1rem;
  display: block;

  user-select: none;
  cursor: pointer;
}
