@use "./../../styles" as styles;

:root {
  --layout-background-color: #{styles.$pink-500};
}

:global .dark {
  --layout-background-color: #{styles.$indigo-500};
}

.Layout {
  @include styles.styles-reset;
  @include styles.text-wrapping;

  background: var(--layout-background-color);

  font-size: 1rem;

  @include styles.respond-to("md") {
    font-size: 1.5rem;
  }
  @include styles.respond-to("lg") {
    font-size: 2rem;
  }
  @include styles.feature-to("hover") {
    &:hover {
      background-color: pink;
    }
  }
}
